[submodule "Submodule/libkv"]
	path = Submodule/libkv
	url = https://github.com/SmallBearBeast/libkv
[submodule "Submodule/librv"]
	path = Submodule/librv
	url = https://github.com/SmallBearBeast/librv.git
[submodule "Submodule/libcomponent"]
	path = Submodule/libcomponent
	url = https://github.com/SmallBearBeast/libcomponent.git
