<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.androidtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk tools:overrideLibrary="com.snapchat.kit.sdk.creative, com.snapchat.kit.sdk" />
    <application
        android:name=".AndroidTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LaunchTheme">
        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="09bc70fd-aa0e-4550-bf9f-029ea0b1e1d6" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Test.MainTest.MainAct"
            android:configChanges="orientation|keyboard|layoutDirection|screenSize"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Test.MainTest.ComponentDemo.ComponentDemoAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ViewDemo.CoordinatorLayoutTest.BehaviorTestAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ViewDemo.CoordinatorLayoutTest.CoordinatorLayoutTestAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.AspectTest.AspectTestAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.BusTest.BusTest1Act"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.BusTest.BusTest2Act"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.FragTest.FragLifecycleTestAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.KVCompareTest.KVCompareTestAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ViewDemo.MotionTest.MotionEventDemoAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ViewDemo.ViewPager2Test.ViewPager2Act"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ScreenTest.ScreenAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ShareTest.SystemShareAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ViewDemo.ViewGetSizeTest.ViewGetSizeTestAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ARouterTest.Module1Activity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ViewDemo.ToolbarTest.ToolbarTestAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.ViewDemo.ViewDemoAct"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Test.MainTest.WidgetDemo.WidgetDemoAct"
            android:theme="@style/AppTheme" />

        <service android:name=".Test.MainTest.FloatServiceTest.TestFloatService" />

        <service
            android:name=".Test.MainTest.BackgroundService"
            android:foregroundServiceType="" />
    </application>

</manifest>